@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none !important;
}
html,
body {
  height: 100%;
}
body {
  font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
  background: #fff;
  color: #757575;
}
i {
  font-style: normal;
}
.wrapper {
  display: block;
  min-height: auto;
  position: relative;
  width: 100%;
}
.h_panel {
  width: 1130px;
  margin: 0 auto;
}
.h_logo {
  width: 200px;
  height: 98px;
  background: url(https://account.xiaomi.com/static/res/7f6f2f5/account-static/respassport/acc-2014/img/mistore_logo.png) no-repeat;
}
.h_logo a {
  display: block;
  height: 98px;
  text-indent: -9999em;
}
.login_banner_panel {
  background: #1e2f40;
  width: 100%;
  height: 588px;
  position: absolute;
  left: 0;
  top: 98px;
  background-repeat: no-repeat;
  background-position: top center;
  background-image: url(https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/72644d9b8031286de3cc74e151aefd90.jpg);
}
.login_banner_panel a {
  display: block;
  height: 588px;
  text-indent: -9999em;
}
.layout_panel {
  position: relative;
  width: 1130px;
  margin: 0 auto;
  height: 588px;
}
.layout_panel .layout {
  background-color: white;
  position: absolute;
  width: 410px;
  min-height: 556px;
  margin-bottom: 0;
  margin-right: 0;
  font-size: 14px;
  z-index: 4;
  top: 32px;
  right: 0;
}
.layout_panel .layout .nav_tabs_panel {
  padding: 27px 0 24px;
  text-align: center;
  font-size: 24px;
  color: #666;
}
.layout_panel .layout .nav_tabs_panel a {
  color: #666;
}
.layout_panel .layout .nav_tabs_panel .now {
  color: #f56600;
}
.layout_panel .layout .nav_tabs_panel .line {
  width: 1px;
  height: 24px;
  margin: 0 35px 0 42px;
  border: 1px solid #e0e0e0;
  background: #e0e0e0;
}
.layout_panel .layout .nav_tabs_panel .navtab-link:hover {
  color: #f56600;
}
